.main {
  /*
  比率は実際の環境に合わせて調整をする

  紙の比率
  168 * 122 -> 1.377...

  macでの画像比率
  メイン画面： 550 * 400 -> 1.375
  サブ画面：630 * 450 -> 1.4
  */

  margin: 0 82px;
}

.images {
  display: flex;
}

.image {
  width: 50%;
  height: 50vh;
}
