::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: black;
}

.main {
  display: flex;
}

#container1 {
  /* height: 100%; */
  border-right: 2px solid black;
}

#container2 {
  /* height: 100%; */
  border-left: 2px solid black;
}

#container3 {
  /* height: 100%; */
  border-right: 2px solid black;
}

#container4 {
  /* height: 100%; */
  border-left: 2px solid black;
}
